#main1_2{
	height: 100vh;
	width: 100vw;
	background-image: url('scam.png') no-repeat center center fixed;
	animation: mymove 5s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;

}

@keyframes mymove {
	from {
		background-image: url("scam.png");
	}
	to {
		background-image: url('man.png');
	}
}
@media (max-width: 700px) {
	#img{
		width: 300px;
	}
	#main3{
		display: flex;
		flex-direction: column;
		width: 100vw;
		align-items: center;
		text-align: center;
	}
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#nav-con{
	background: #27292BFF;
	color: white;
}

#nav{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#nav>li>a{
	color: white;
	font-family: Bookman Old Style;
	font-weight: bold;
	text-decoration: none;
	font-size: 6px;
}

#main1{
}


#cyber{
	font-size: 10px;
}

#img-text {
	margin-left: 60px;

	/*color: black;*/
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	top: 90px;  
	line-height: 20px;
}

#img-text>i>a{
	color: white;
	font-weight: bold;
}
#main1_2{

	/*width: fit-content;*/
	background-size: 1500px;
	color: white;
	height: 500px;
	background-repeat: no-repeat;
	padding: 20px;
}

#bro{
	margin: 10px;
	width:40px;
	border: 1px solid rgba(139,69,19, 0.5);
}

#myh6{
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgba(30,31,34,0.51);
	font-weight: bold;
	font-family: Verdana;
}

#blah{
	font-family: Bahnschrift;
	color: rgba(30,31,34,0.51);

}

#main2{
	padding-bottom: 70px;
	padding-top: 60px;
}

#main3{
	justify-content: space-around;
	background: rgba(0,0,0,0.03);
	height: 900px;
	margin: 10px;
	display: flex;
}

#calculator{
}
*{
	overflow-x:hidden ;
}
a{
	font-weight: 600;
	color: black;
}

#b{
	position: relative;
	top: 10px;
	font-size: 15px;
	color: rgba(30,31,34,0.6);
	font-family: Verdana;
}

#be{
	position: relative;
	top: 10px;
	font-size: 15px;
	color: rgba(30,31,34,0.6);
	font-family: Verdana;
}

#calculator-icon{
	color: saddlebrown;
	font-size: 40px;
}

#icons{

}

#first_3{
	margin-top:80px ;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 170px;
}

#why{
	font-family: Verdana;
	margin-top: 15px;
	color: rgba(30,31,34,0.4);
	font-weight: lighter;
}

#phone{
	color:saddlebrown;
	font-size: 40px;
}

#newspaper{
	color: saddlebrown;
	font-size: 40px;
}